# Python bytecode & cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Training logs
catboost_info/
logs/*.log
